@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/**********************
    setting
***********************/
/************************
    common
**************************/
* {
  box-sizing: border-box;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: #000000;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

li {
  list-style: none;
}

.container {
  margin-left: 280px;
}

.wrapper {
  max-width: 1120px;
  margin: 0 auto 0 0;
}

.sab-title {
  font-size: 24px;
  font-weight: bold;
}

.title__img {
  margin-top: 20px;
  padding: 20px 0;
}

.flex-box {
  display: flex;
}

.flex-box-center {
  display: flex;
}

.more-btn a {
  display: inline-block;
  box-sizing: border-box;
  /* ここmax-width: 240px;だとできない　 */
  max-width: 242px;
  width: 100%;
  border: 1px solid #000000;
  background-color: #FFF;
  border-radius: 10px;
  font-weight: bold;
  padding: 22px 82px;
  position: relative;
}
.more-btn a::after {
  content: "⚫︎";
  width: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

/*ローディング*/
.hidden {
  opacity: 0;
}

.loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 2147483647;
  display: grid;
  place-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  /* 背後のコンテンツにマウスイベントが影響しないようにする */
}
.loading img {
  width: 250px;
  height: 250px;
  width: 100%;
}

.loading.active {
  display: grid;
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* JS が無効なときのスタイル */
@media (scripting: none) {
  .loading {
    opacity: 0;
  }
  .hidden {
    display: block;
  }
}
/* 下層ページ共通 */
.section__wrapper {
  max-width: 953px;
  width: 100%;
}

.section__top {
  padding-top: 765px;
}
.section__top .flex-box {
  gap: 12.1720881427%;
  margin-top: 64px;
}

.section__main-title {
  font-size: 40px;
  font-weight: bold;
}

.section__text {
  line-height: 1.8;
  margin-top: 64px;
  max-width: 422px;
  width: 100%;
}

.section__illust {
  max-width: 165px;
  width: 100%;
}

.page__nav {
  display: flex;
  gap: 2.518363064%;
  margin-top: 64px;
}
.page__nav li {
  max-width: 208px;
  width: 100%;
}
.page__nav a {
  display: inline-block;
  border: solid #4282B8 1px;
  border-radius: 10px;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 34px;
  text-align: center;
  position: relative;
}
.page__nav a::after {
  content: "";
  width: 5px;
  height: 5px;
  border: 0;
  border-top: solid 2px #4282B8;
  border-right: solid 2px #4282B8;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%) rotate(135deg);
  margin: auto;
}

/************************
    header
**************************/
.header {
  width: 280px;
  height: 100%;
  background-color: #fff;
  padding: 74px 40px 0px;
  position: fixed;
  top: 0;
  overflow-y: auto;
}
@media screen and (max-width: 767px) {
  .header {
    height: 102px;
    width: 100%;
    z-index: 5;
    padding: 10px 0 0;
  }
}

.header__logo {
  max-width: 200px;
}
@media screen and (max-width: 767px) {
  .header__logo {
    max-width: 98px;
  }
}

.header__nav {
  margin-top: 25px;
}
@media screen and (max-width: 767px) {
  .header__nav {
    opacity: 0;
  }
}
.header__nav.active {
  opacity: 1;
  position: fixed;
  background-color: #fff;
  margin-top: 6px;
  text-align: center;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.header__link-title.active,
.header__item-more.active a {
  display: inline-block;
}

.header__item {
  font-size: 20px;
  font-weight: bold;
}
.header__item.active {
  font-size: 16px;
}

.header__link-title a {
  display: block;
  max-width: 200px;
  position: relative;
  width: 100%;
  border-bottom: solid 1px #B1C6DC;
  padding: 32px 0;
}
.header__link-title a::after {
  content: "";
  width: 24px;
  height: 1px;
  background-color: #4282B8;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
@media screen and (max-width: 767px) {
  .header__link-title a::after {
    opacity: 0;
  }
}

.header__sub-menu {
  /*  display: none; */
  font-size: 14px;
  border-bottom: solid 1px #B1C6DC;
  padding: 32px 0 32px 17px;
}
.header__sub-menu.active {
  font-size: 16px;
  border-bottom: none;
  padding: 16px 0;
}
.header__sub-menu a {
  display: block;
}

.sab--02 {
  margin: 24px 0;
}
@media screen and (max-width: 767px) {
  .sab--02 {
    margin: 32px 0;
  }
}

.header__item-more {
  border-bottom: solid 1px #B1C6DC;
  padding: 32px 0;
}
.header__item-more.active {
  border-bottom: none;
  padding: 16px 0;
  margin: 0 auto;
}

.header__info a {
  display: flex;
  gap: 16px;
}
.header__info a img {
  width: 24px;
}

.header__sp-menu {
  opacity: 0;
}
.header__sp-menu.active {
  opacity: 1;
  margin-top: 26px;
}

.menu-trigger {
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  top: 0;
  right: 0;
  width: 56px;
  height: 48px;
  cursor: pointer;
  z-index: 998;
  transition: all 0.5s;
  background-color: #4282B8;
  padding: 12px;
  position: absolute;
}
@media screen and (max-width: 767px) {
  .menu-trigger {
    opacity: 1;
  }
}
.menu-trigger span {
  display: block;
  position: absolute;
  right: 12px;
  width: 32px;
  height: 1px;
  background-color: #fff;
  transition: all 0.5s;
}
.menu-trigger span:nth-of-type(1) {
  top: 12px;
}
.menu-trigger span:nth-of-type(2) {
  top: 24px;
}
.menu-trigger span:nth-of-type(3) {
  top: 36px;
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-315deg);
  transform: translateY(12px) rotate(-315deg);
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(315deg);
  transform: translateY(-12px) rotate(315deg);
}

/************************
    fv
**************************/
.bg-color {
  height: 727px;
  width: 50.4861111111%;
  background-color: #4282B8;
  padding: 20px;
  float: right;
  position: relative;
  top: 0;
}

.fv {
  position: relative;
}

.fv__img {
  position: absolute;
  top: 40px;
  right: 40px;
  border-radius: 50px;
}

@media screen and (max-width: 767px) {
  .fv__img-pc {
    opacity: 0;
  }
}

.fv__img-sp {
  opacity: 0;
}
@media screen and (max-width: 767px) {
  .fv__img-sp {
    opacity: 1;
  }
}

.fv__text-content {
  position: absolute;
  top: 673px;
  right: 13.1896551724%;
}

.fv__title {
  font-size: 64px;
  font-weight: bold;
  background-color: #fff;
  padding: 14px;
  border-radius: 10px;
}

.fv__text {
  font-weight: bold;
  margin-top: 21px;
  line-height: 2;
}

.scroll-btn a {
  position: relative;
  color: #4282B8;
  font-size: 10px;
  font-weight: bold;
  top: 839px;
  left: 1.5517241379%;
}
.scroll-btn a::after {
  content: "";
  width: 112px;
  height: 1px;
  background-color: #4282B8;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  bottom: -64px;
}

/************************
    about
**************************/
.about__wrapper {
  margin-top: 71px;
}
.about__wrapper .flex-box {
  gap: 196px;
  align-items: flex-start;
}

.about__left {
  max-width: 429px;
  width: 100%;
}

.about__title {
  max-width: 429px;
}

.about__text {
  line-height: 1.8;
  margin-top: 40px;
}

.about__btn {
  margin-top: 40px;
}

.about__right {
  gap: 20px !important;
}

.about__illust {
  max-width: 221.8px;
  width: 100%;
  margin-top: -105px;
  z-index: 2;
}

.about__slogan {
  font-size: 40px;
  line-height: 1.5;
  background-color: #F8F8F8;
  padding: 16px 40px;
  writing-mode: vertical-rl;
  letter-spacing: 20px;
  margin-top: -303px;
  z-index: 2;
  display: inline;
}
.about__slogan span {
  color: #4282B8;
}

/************************
    swiper
**************************/
.swiper {
  max-width: 1160px;
  width: 100%;
  margin-top: 989px;
  background-color: #F8F8F8;
}

.swiper-wrapper {
  margin: 63px 0 63px 48px;
  transition-timing-function: linear;
}

/* 画像のサイズ調整 */
.swiper-slide img {
  height: auto;
  max-width: 360px;
  width: 100%;
}

/************************
    service
**************************/
#service {
  margin-top: 85px;
  position: relative;
  padding-bottom: 100px;
}
#service .sab-title {
  margin-top: 49px;
}
#service .flex-box {
  gap: 32.7678571429%;
}

.service__bg-color {
  height: 100%;
  width: 968px;
  background-color: #F8F8F8;
  border-radius: 50px 0 0 50px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.service__title {
  max-width: 491px;
}

.service__illust {
  max-width: 124px;
  margin-top: 93px;
}

.service__img {
  max-width: 516px;
  z-index: 2;
}

.service__content {
  margin-top: 92px;
}

.service__content-top {
  margin-top: 20px !important;
}

.flex-box-center {
  gap: 56px;
}

.service__namber {
  max-width: 174px;
  padding: 24px 0;
}

.--01 {
  margin-left: -77px;
}

.--02 {
  margin: 0 0 0 auto;
  margin-right: -77px;
}

.service__item {
  max-width: 430px;
  width: 100%;
}

.service__content-title {
  max-width: 272px;
  font-size: 24px;
  background-color: #fff;
  padding: 10px 16px;
  font-weight: bold;
}

.service__text-box p {
  margin-top: 48px;
  line-height: 1.8;
}
.service__text-box .more-btn {
  margin-top: 28px;
}

/************************
    news
**************************/
#news {
  margin-top: 107px;
}

.news__title {
  max-width: 340px;
}

.news__content {
  margin-top: 48px;
}

.news__item a {
  padding: 32px 0;
  display: block;
  border-bottom: 1px solid #4282B8;
  position: relative;
}
.news__item a::after {
  content: "";
  width: 8px;
  height: 8px;
  border: 0;
  border-top: solid 4px #4282B8;
  border-right: solid 4px #4282B8;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 27px;
  bottom: 0;
  margin: auto;
}
.news__item .flex-box {
  gap: 16px;
  align-items: center;
}

.news__item-top {
  border-top: 1px solid #4282B8;
}

.news__category {
  font-size: 14px;
  padding: 5px 16px;
  font-weight: bold;
  border: solid 1px #4282B8;
  color: #4282B8;
}

.news__time {
  font-size: 14px;
  font-weight: bold;
  color: #4282B8;
}

.news__text {
  margin-top: 24px;
  font-weight: bold;
}

/* モーダル */
.modal__wrapper .flex-box {
  align-items: center;
  gap: 16px;
}

#modal-1,
#modal-2,
#modal-3 {
  display: none;
}

#modal-1.is-open,
#modal-2.is-open,
#modal-3.is-open {
  display: block;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px 0;
  padding-left: 20.1388888889%;
  padding-right: 20.1388888889%;
  overflow-y: auto;
}
@media screen and (max-width: 1080px) {
  .modal__overlay {
    padding-left: 16.6666666667%;
    padding-right: 16.6666666667%;
  }
}
@media screen and (max-width: 767px) {
  .modal__overlay {
    padding-left: 2.6075619296%;
    padding-right: 2.6075619296%;
  }
}
.modal__overlay::before {
  content: "×";
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 6.1043285239%;
  right: 16.875%;
  color: #FFF;
}
@media screen and (max-width: 1080px) {
  .modal__overlay::before {
    right: 12.037037037%;
  }
}
@media screen and (max-width: 767px) {
  .modal__overlay::before {
    top: 3px;
    right: 3px;
  }
}

.modal__container {
  background-color: #fff;
  padding: 16px 102px 24px;
  padding-left: 11.8604651163%;
  padding-right: 11.8604651163%;
  max-width: 860px;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  max-height: 90vh;
}

.modal__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.8;
  margin-top: 16px;
}

.modal__img {
  margin-top: 16px;
}

.modal__text {
  margin-top: 6.2px;
  line-height: 1.8;
}
.modal__text p {
  margin-top: 28.8px;
}
.modal__text li::before {
  content: "•";
  font-weight: normal;
  margin-right: 0.5em;
  display: inline-block;
}

.modal__close {
  display: block;
  box-sizing: border-box;
  max-width: 240px;
  margin: 61px auto 0px;
  width: 100%;
  border: 1px solid #000000;
  background-color: #FFF;
  border-radius: 10px;
  font-weight: bold;
  padding: 22px 82px;
  position: relative;
}
.modal__close::after {
  content: "⚫︎";
  width: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

/************************
    contact
**************************/
#contact {
  margin-top: 132px;
  background-color: #F8F8F8;
  border-radius: 50px 0 0 50px;
  padding: 31px 40px 53px 24px;
}
#contact .flex-box {
  gap: 175px;
}

.contact__title {
  max-width: 553px;
}

.contact__lower {
  margin-top: 39px;
}

.contact__big {
  font-size: 32px;
  font-weight: bold;
  position: relative;
}
.contact__big::after {
  content: "";
  width: 68px;
  height: 1px;
  background-color: #000000;
  position: absolute;
  transform: translateY(-50%) rotate(90deg);
  right: -60px;
  top: 50%;
}

.contact__small {
  font-size: 12px;
  margin-top: 8px;
}

.contact__illust {
  max-width: 175px;
}

.contact__btn a {
  display: flex;
  gap: 8px;
  padding: 22px 40px;
  border: solid 1px #fff;
  max-width: 286px;
  width: 100%;
}
.contact__btn a img {
  max-width: 20px;
}

/************************
    footer
**************************/
.footer {
  margin-top: 117px;
}
.footer .flex-box {
  gap: 9.3965517241%;
}

.footer__logo {
  /* max-width: calc((222/1160)*100%);
  */
  max-width: 222px;
}

.footer__text-box {
  margin-top: 23px;
  width: 100%;
}
.footer__text-box p {
  margin-top: 16px;
}
.footer__text-box span {
  margin-left: 16px;
}

.footer__nav {
  font-weight: bold;
  margin-top: 25px;
  max-width: 488px;
  width: 100%;
}
.footer__nav .flex-box-center {
  gap: 4.9180327869%;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.main-icon {
  display: flex;
  gap: 8px;
}
.main-icon img {
  max-width: 20px;
}

.copyright {
  margin-top: 7px;
  text-align: end;
}/*# sourceMappingURL=style.css.map */