@use '../../base/_setting' as *;

/*****************
    about
*******************/

.section__top {
    padding-top: 40px;

    .flex-box {
        gap: calc((116/953)*100%);
        margin-top: 64px;

        @include sp {
            flex-direction: column;
            position: relative;
        }
    }
}

.page__nav ul{
    margin-top: 58px;
}


#management-philosophy {
    margin-top: 80px;
}

.management__img {
    margin-top: 64px;
    max-width: 923px;
    width: 100%;
}

#corporate-profile {
    margin-top: 51px;

    .flex-box {
        justify-content: space-between;
        margin-top: 64px;
        gap: 30px;

        @include tab {
            flex-direction: column;
        }
    }
}

.corporate__text {
    line-height: 1.8;
    max-width: 465px;
    width: 100%;

    @include tab {
        order: 2;
        margin-top: 20px;
        max-width: 100%;
    }
}

.corporate__img-box {
    max-width: 331px;
    width: 100%;

    @include tab {
        order: 1;
        text-align: center;
        max-width: 100%;
    }
}

.post {
    margin-top: 16px;
}

.name {
    font-size: 32px;
    color: $sab-color;
    margin-top: 24px;
    font-weight: bold;
}

.corporate-profile__box {
    margin-top: 52px;

    .flex-box-center {
        border-bottom: 1px solid $line-color;
        padding: 30px 0;
        gap: calc((162/953)*100%);
        align-items: center;

        @include sp {
            line-height: 1.5;
            gap: calc((40/375)*100%);
        }
    }
}

.corporate__title {
    max-width: 80px;
    width: 100%;
    font-weight: bold;
}

#safety-initiatives {
    margin-top: 56px;

}

.safety__content{
    margin-top: 86px;

    @include sp {
        margin-top: 0;
    }
}

.safety__item {

    .flex-box {
        margin-top: 25px;
        gap: calc((44/953)*100%);

        @include tab {
            flex-direction: column;
        }
    }
}

.safety__title {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.8;

    @include sp {
        font-size: 20px;
        margin-top: 55px;
    }


}

.safety__text {
    max-width: 642px;
    min-width: 300px;
    width: 100%;
    line-height: 1.8;

    @include tab {
        order: 2;
        max-width: 100%;
        margin-top: 30px;
    }
}

.safety__img {
    max-width: 267px;
    width: 100%;

    @include tab {
        order: 1;
        max-width: 100%;
    }
}

#contact {
    margin-top: 193px;
}