@use '../../../base/_setting' as *;

/*****************
    tthanks
*******************/



.form__label-left01 {
    color: $sab-color;
}

.form__label-right02 {
    color: #fff;
    background-color: $sab-color;
}


#contact {
    margin-top: 170px;
}