@use '../base/_setting' as *;
/************************
    common
**************************/

* {
    box-sizing: border-box;
}

body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    color: $main-color;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $main-color;
    cursor: pointer;
}

li {
    list-style: none;
}

.container {
    margin-left: 280px;

    @include sp {
        margin-left: 0;
    }
}

.wrapper {
    box-sizing: content-box;
    max-width: 1120px;
    padding-right: 20px;
    margin: 0 auto 0 0;

    @include sp {
        padding: 0 20px;
        margin: 0;
        box-sizing: border-box;
    }
}

.sab-title {
    font-size: 24px;
    font-weight: bold;

    @include sp {
        font-size: 20px;
    }
}

.title__img {
    margin-top: 22px;
    padding: 21px 0;

    @include sp {
        margin-top: 16px;
        padding: 10px 0;
    }

}

.flex-box {
    display: flex;
}

.flex-box-center {
    display: flex;
}

.more-btn {
    a {
        display: inline-block;
        box-sizing: border-box;
        max-width: 240px;
        width: 100%;
        border: 1px solid $main-color;
        background-color: #FFF;
        border-radius: 10px;
        font-weight: bold;
        padding: 21px 80px;
        position: relative;

        
        &:hover{
            background-color: $main-color;
            color: #FFF;
            transition: all 0.8s;

            &::after{
                color: #FFF;
            }
        }


        &::after {
            content: "⚫︎";
            width: 10px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
        }
    }
}




/*ローディング*/

.hidden {
    opacity: 0;
}

.loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2147483647;
    display: grid;
    place-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    /* 背後のコンテンツにマウスイベントが影響しないようにする */

    img {
        width: 250px;
        height: 250px;
        width: 100%;
    }
}

.loading.active {
    display: grid;
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* JS が無効なときのスタイル */
@media (scripting: none) {
    .loading {
        opacity: 0;
        ;
    }

    .hidden {
        display: block;
    }
}


/* 下層ページ共通 */


.bg-color {
    padding-bottom: 563px;
    width: calc((727/1440)*100%);
    background-color: $sab-color;
    float: right;
    position: absolute;
    top: 0;
    right: 0;

    @include pc-s {
        padding-bottom: 400px;
    }

    @include tab {
        padding-bottom: 250px;
    }


    @include sp {
        padding-bottom: 300px;
    }
}


.fv__img {
    position: relative;
    top: 40px;

    img {
        border-radius: 50px;
    }

    @include sp {
        margin-right: 0;
        top: 20px;
    }
}


.section__wrapper {
    max-width: 953px;
    width: 100%;
    padding-right: 20px;
    box-sizing: content-box;

    @include sp {
        padding: 0 20px;
        box-sizing: border-box;
    }
}


.section__text-box {
    @include sp {}
}

.section__main-title {
    font-size: 40px;
    font-weight: bold;

    @include sp {
        font-size: 24px;
    }
}

.section__title {
    font-size: 32px;
    font-weight: bold;

    @include sp {
        font-size: 24px;
        text-align: center;
        margin-top: 100px;
    }
}

.section__text {
    line-height: 1.8;
    margin-top: 64px;
    max-width: 422px;
    width: 100%;

    @include sp {
        max-width: 100%;
    }
}

.section__illust {
    max-width: 165px;
    width: 100%;


    @include sp {
        max-width: 100px;
        margin-top: -50px;
        position: absolute;
        right: 0;
        top: -20px;
    }
}

.page__nav ul {
    display: flex;
    gap: calc((24/953)*100%);

    @include tab {
        justify-content: center;
        font-size: 12px;
        margin-top: 40px;
    }

    li {
        max-width: 208px;
        width: 100%;
        display: flex;
    }

    a {
        display: inline-block;
        border: solid $sab-color 1px;
        border-radius: 10px;
        width: 100%;
        padding-top: 11px;
        padding-bottom: 34px;
        text-align: center;
        position: relative;


        &:hover{
            background-color: $sab-color;
            color: #FFF;
            transition: all 0.5s;

            &::after{
                border-top: solid 2px #fff;
                border-right: solid 2px #fff;
            }
        }

        &::after {
            content: "";
            width: 5px;
            height: 5px;
            border: 0;
            border-top: solid 2px $sab-color;
            border-right: solid 2px $sab-color;
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-50%) rotate(135deg);
            margin: auto;

            
        }
    }


    span {
        @include tab {
            display: none;
        }
    }

}

.tab-brake {
    display: none;

    @include tab {
        display: block;
    }
}

.sp-brake {
    display: none;

    @include sp {
        display: block;
    }
}