@use '../base/_setting' as *;
/************************
    header
**************************/

.header {
    max-width: 280px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 74px 40px 0px;
    position: fixed;
    top: 0;
    overflow-y: auto;

    @include sp {
        max-width: 100%;
        height: 102px;
        width: 100%;
        z-index: 5;
        padding: 10px 0 0;
    }

    a {
        transition: 0.3s;

        &:hover {
            opacity: 0.6;
        }
    }


}


.header__logo {
    max-width: 200px;

    @include sp {
        max-width: 98px;
    }

}

.header__nav {
    margin-top: 25px;
}

@include sp {
    .header__nav {
        display: none;

        &.active {
            display: block;
            position: fixed;
            background-color: #fff;
            margin-top: 14px;
            text-align: center;
            width: 100%;
            height: 100vh;
            z-index: 999;
        }
    }
}


.header__item {
    font-size: 1.25rem;
    font-weight: bold;

    @include sp {
        font-size: 1rem;
    }

    &:hover {
        

        .header__link-title a::before {
            height: 0;
        }
    }
}

.header__link-title a {
    display: inline-block;
    max-width: 200px;
    position: relative;
    width: 100%;
    border-bottom: solid 1px $line-color;
    padding: 31px 0;

    @include sp {
        border-bottom: none;
        padding: 0;
        margin-top: 32px;

        &::after,
        &::before {
            display: none;
        }
    }

    &::after {
        content: "";
        width: 24px;
        height: 1px;
        background-color: $sab-color;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;

        @include sp {
            display: none;
        }
    }

    &::before {
        content: "";
        width: 1px;
        height: 24px;
        background-color: $sab-color;
        position: absolute;
        top: 50%;
        right: 12px; // 横棒の中心に配置
        transform: translateY(-50%);
        transition:  all 0.3s;
    }

    &:hover::before {
        height: 0;
    }
}


.header__sub-menu {
    display: none;
    font-size: 0.875rem;
    border-bottom: solid 1px $line-color;
    padding: 32px 0 32px 17px;

    @include sp {
        margin-top: 32px;
        padding: 0;
        display: block;
        font-size: 1rem;
        border-bottom: none;
    }

    a {
        display: block;
    }
}

.sab--02 {
    margin: 24px 0;

    @include sp {
        margin: 32px 0;
    }
}

.header__item-more {
    border-bottom: solid 1px $line-color;

    @include sp {
        border-bottom: none;
        margin: 30px auto 0;
    }
}

.header__news {
    a {
        display: block;
        padding: 32px 0;

        @include sp {
            padding: 0;
        }
    }

}

.header__info {
    a {
        display: flex;
        gap: 16px;
        padding: 30px 0;
        align-items: center;

        @include sp {
            justify-content: center;
            align-items: center;
            padding: 0;
            padding-right: 28px;
            gap: 8px;
        }

        img {
            width: 24px;

            @include sp {
                width: 20px;
            }
        }
    }
}

.header__sp-menu {
    display: none;

    @include sp {
        display: block;
        margin-top: 26px;
        font-weight: bold;

    }
}

.header__copyright {
    font-weight: normal;
    font-size: 0.75rem;
    margin-top: 26px;
}

.menu-trigger {
    display: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    top: 0;
    right: 0;
    width: 56px;
    height: 48px;
    cursor: pointer;
    z-index: 998;
    transition: all 0.5s;
    background-color: $sab-color;
    padding: 12px;
    position: absolute;

    @include sp {
        display: block;
    }

    span {
        display: block;
        position: absolute;
        right: 12px;
        width: 32px;
        height: 1px;
        background-color: #fff;
        transition: all 0.5s;
    }

    span:nth-of-type(1) {
        top: 12px;
    }

    span:nth-of-type(2) {
        top: 24px;
    }

    span:nth-of-type(3) {
        top: 36px;
    }

}


.menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(12px) rotate(-315deg);
    transform: translateY(12px) rotate(-315deg);
}

.menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-12px) rotate(315deg);
    transform: translateY(-12px) rotate(315deg);
}