/**********************
    setting
***********************/

$main-color: #000000;
$sab-color: #4282B8;
$line-color:#B1C6DC;
$bg-color:#F8F8F8;

$sab-font:"Kanit";


// ブレイクポイント
$pc-s: 1280px;
$tab: 1024px;
$sp: 767px;

@mixin pc-s{
    @media screen and (max-width: ($pc-s)) {
        @content;
    }
}


@mixin tab {
    @media screen and (max-width: ($tab)) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}