/**********************
    setting
***********************/

$main-color: #000000;
$sab-color: #4282B8;
$line-color:#B1C6DC;
$bg-color:#F8F8F8;

$sab-font:"Kanit";


// ブレイクポイント
$tab: 1080px;
$sp: 767px;


@mixin tab {
    @media screen and (max-width: ($tab)) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}