@use '../../base/_setting' as *;
/************************
    news
**************************/

.news {
    margin-top: 107px;

    @include sp {
        margin-top: 85px;
    }
}

.news__title {
    max-width: 340px;

    @include sp {
        max-width: 192px;
    }
}

.news__content {
    margin-top: 40px;

    @include sp {
        margin-top: 50px;
    }
}

.news__item {
    border-bottom: 1px solid $line-color;

    a {
        padding: 32px 0;
        display: block;
        position: relative;
        transition: 0.3s;

        @include sp {
            padding: 15px 0;
        }

        &:hover {
            opacity: 0.4;
        }

        &::after {
            content: "";
            width: 8px;
            height: 8px;
            border: 0;
            border-top: solid 4px $sab-color;
            border-right: solid 4px $sab-color;
            transform: rotate(45deg);
            position: absolute;
            top: 0;
            right: calc((27/1120)*100%);
            bottom: 0;
            margin: auto;

            @include tab {
                right: calc((8/375)*100%);
            }
        }
    }

    .flex-box {
        gap: 16px;
        align-items: center;
    }
}

.news__item-top {
    border-top: 1px solid $line-color;

}

.news__category {
    box-sizing: border-box;
    max-width: 116px;
    width: 100%;
    font-size: 0.875rem;
    padding: 4px 0;
    font-weight: bold;
    border: solid 1px $sab-color;
    color: $sab-color;
    text-align: center;
}

.news__time {
    font-size: 0.875rem;
    font-weight: bold;
    color: $sab-color;
}

.news__text {
    margin-top: 24px;
    font-weight: bold;
    padding-right: 37px;

    @include sp {
        width: 100%;
        margin-top: 16px;
        font-size: 0.875rem;
    }
}

.news-1 {
    @include tab {
        line-height: 1.8;
    }
}


/* モーダル */

.modal__wrapper {
    .flex-box {
        align-items: center;
        gap: 16px;
    }
}

.modal-1,
.modal-2,
.modal-3 {
    display: none;
}

.modal-1.is-open,
.modal-2.is-open,
.modal-3.is-open {
    display: block;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px 0;
    padding-left: calc((290/1440)*100%);
    padding-right: calc((290/1440)*100%);
    overflow-y: auto;

    @include tab {
        padding-left: calc((180/1080)*100%);
        padding-right: calc((180/1080)*100%);
    }

    @include sp {
        padding-left: calc((20/767)*100%);
        padding-right: calc((20/767)*100%);
    }


}

.modal__container {
    position: relative;

    &::before {
        content: "×";
        font-size: 50px;
        font-weight: bold;
        line-height: 1;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        top: 0;
        right: -47px;
        color: #FFF;
        cursor: pointer;

        @include sp {
            font-size: 30px;
            width: 20px;
            height: 20px;
            top: -35px;
            right: 0;
        }


    }

}

.modal__inner {
    background-color: #fff;
    padding: 16px 102px 24px;
    padding-left: calc((102/860)*100%);
    padding-right: calc((102/860)*100%);
    max-width: 860px;
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    max-height: 88vh;

    @include sp {
        max-width: 700px;
        padding-left: calc((102/700)*100%);
        padding-right: calc((102/700)*100%);
    }
}

.modal__title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.8;
    margin-top: 16px;

    @include sp {
        font-size: 1.25rem;
    }
}

.modal__img {
    margin-top: 16px;
}

.modal__text {
    margin-top: 6.2px;
    line-height: 1.8;

    @include sp {
        font-size: 0.875rem;
    }

    p {
        margin-top: 28.8px;
    }


    li::before {
        content: "•";
        font-weight: normal;
        margin-right: 0.5em;
        display: inline-block;
    }
}


.modal__close {
    display: block;
    box-sizing: border-box;
    max-width: 240px;
    margin: 61px auto 0px;
    width: 100%;
    border: 1px solid $main-color;
    background-color: #FFF;
    border-radius: 10px;
    font-weight: bold;
    padding: 22px 82px;
    position: relative;
    transition: all 0.5s;


    &:hover {
        background-color: $main-color;
        color: #FFF;

        &::after {
            color: #FFF;

        }
    }

    &::after {
        content: "⚫︎";
        width: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        transition: all 0.5s;
    }
}